body{
	margin: 0;
	background: radial-gradient(circle at top, #750707, #000);
	color: white;
	font-family: sans-serif;
	text-align: center; 
}

h1 {margin-top: 20px}

.scene{
	width: 300px;
	height: 400px;
	margin: 60px auto;
	perspective: 1200px;
}

.prism{
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.3s;
}

.prism {
  cursor: grab;
  touch-action: none;
}

.txt {
    font-family: "Segoe Script", cursive, sans-serif;
	font-weight: 400;
	letter-spacing: 0.5px;
	text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}




.prism img{
	position: absolute;
	width: 170px;
	height: 300px;
	left: 20px;
	top: 20px;
	object-fit: cover;
	opacity: 1;
  	background: rgba(255,255,255,0.05); /* semi-transparent */
  	backdrop-filter: blur(40px);          /* blur what’s behind the element */
  	border-radius: 12px;
  	box-shadow: 0 0 30px rgba(255,200,255,0.3);

}